In [2]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [3]:
#1-1
cctv=pd.read_csv('cctv.csv', skiprows=1, encoding='EUC-KR')
cctv.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,"83,557","4,812","1,851","3,434","4,295","6,840","8,708","11,572","10,627","12,267","11,247","7,904"
1,종로구,"1,715",815,NaN,NaN,195,150,0,261,85,9,200,0
2,중 구,"2,447",16,114,87,77,236,240,372,386,155,361,403
3,용산구,"2,611",34,71,234,125,221,298,351,125,307,617,228
4,성동구,"3,829",163,144,208,107,325,255,967,415,490,472,283

In [4]:
#1-2
cctv.isna().sum().sum()#Nan값이 2개 있음

2

In [5]:
cctv.fillna(0, inplace=True)
cctv.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,"83,557","4,812","1,851","3,434","4,295","6,840","8,708","11,572","10,627","12,267","11,247","7,904"
1,종로구,"1,715",815,0,0,195,150,0,261,85,9,200,0
2,중 구,"2,447",16,114,87,77,236,240,372,386,155,361,403
3,용산구,"2,611",34,71,234,125,221,298,351,125,307,617,228
4,성동구,"3,829",163,144,208,107,325,255,967,415,490,472,283

In [6]:
#1-3
cctv['총계']=cctv['총계'].str.replace(',','')
cctv.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,83557,"4,812","1,851","3,434","4,295","6,840","8,708","11,572","10,627","12,267","11,247","7,904"
1,종로구,1715,815,0,0,195,150,0,261,85,9,200,0
2,중 구,2447,16,114,87,77,236,240,372,386,155,361,403
3,용산구,2611,34,71,234,125,221,298,351,125,307,617,228
4,성동구,3829,163,144,208,107,325,255,967,415,490,472,283

In [7]:
#1-3
cctv.loc[0]=cctv.loc[0].str.replace(',','')
cctv.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,83557,4812,1851,3434,4295,6840,8708,11572,10627,12267,11247,7904
1,종로구,1715,815,0,0,195,150,0,261,85,9,200,0
2,중 구,2447,16,114,87,77,236,240,372,386,155,361,403
3,용산구,2611,34,71,234,125,221,298,351,125,307,617,228
4,성동구,3829,163,144,208,107,325,255,967,415,490,472,283

In [8]:
#1-4
cctv['최근증가율'] = cctv.loc[:,'2018년': '2020년'].astype(float).sum(axis=1) / cctv.loc[:, '2012년 이전': '2017년'].astype(float).sum(axis=1) *100
cctv.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,최근증가율
0,계,83557,4812,1851,3434,4295,6840,8708,11572,10627,12267,11247,7904,82.243689
1,종로구,1715,815,0,0,195,150,0,261,85,9,200,0,20.689655
2,중 구,2447,16,114,87,77,236,240,372,386,155,361,403,78.984238
3,용산구,2611,34,71,234,125,221,298,351,125,307,617,228,78.635682
4,성동구,3829,163,144,208,107,325,255,967,415,490,472,283,63.485477

In [9]:
#1-5, 1-6
cctv_new = cctv[['구분', '총계', '최근증가율']]
cctv_new.rename(columns={'구분':'구별', '총계':'cctv댓수'}, inplace=True)
cctv_new.head()

    구별 cctv댓수      최근증가율
0    계  83557  82.243689
1  종로구   1715  20.689655
2  중 구   2447  78.984238
3  용산구   2611  78.635682
4  성동구   3829  63.485477

In [10]:
#1-7, 1-8
cctv_new['구별'] = cctv_new['구별'].str.replace(' ','')
cctv_new.drop([0], inplace=True)
cctv_new.head()

    구별 cctv댓수       최근증가율
1  종로구   1715   20.689655
2   중구   2447   78.984238
3  용산구   2611   78.635682
4  성동구   3829   63.485477
5  광진구   3211  112.292359

In [11]:
#2-1
person = pd.read_csv('서울시인구.txt', sep='\t', skiprows=2)
person.head()

,기간,자치구,세대,계,남자,여자,계.1,남자.1,여자.1,계.2,남자.2,여자.2,세대당인구,65세이상고령자
0,2021,합계,"4,426,007","9,736,027","4,721,977","5,014,050","9,509,458","4,618,040","4,891,418","226,569","103,937","122,632",2.15,"1,605,416"
1,2021,종로구,"73,494","153,789","74,186","79,603","144,683","70,183","74,500","9,106","4,003","5,103",1.97,"27,818"
2,2021,중구,"63,519","131,787","64,083","67,704","122,499","59,630","62,869","9,288","4,453","4,835",1.93,"24,392"
3,2021,용산구,"111,036","237,285","115,085","122,200","222,953","107,210","115,743","14,332","7,875","6,457",2.01,"39,070"
4,2021,성동구,"134,233","292,672","142,259","150,413","285,990","139,380","146,610","6,682","2,879","3,803",2.13,"46,380"

In [12]:
#2-2
person.isna().sum().sum()

0

In [13]:
#2-3
person_new = person[['자치구', '계', '계.1','계.2','65세이상고령자']]
person_new.head()

   자치구          계        계.1      계.2   65세이상고령자
0   합계  9,736,027  9,509,458  226,569  1,605,416
1  종로구    153,789    144,683    9,106     27,818
2   중구    131,787    122,499    9,288     24,392
3  용산구    237,285    222,953   14,332     39,070
4  성동구    292,672    285,990    6,682     46,380

In [14]:
#2-5
person_new['계']=person_new['계'].str.replace(',','')
person_new['계.1']=person_new['계.1'].str.replace(',','')
person_new['계.2']=person_new['계.2'].str.replace(',','')
person_new['65세이상고령자']=person_new['65세이상고령자'].str.replace(',','')
person_new.head()

   자치구        계      계.1     계.2 65세이상고령자
0   합계  9736027  9509458  226569  1605416
1  종로구   153789   144683    9106    27818
2   중구   131787   122499    9288    24392
3  용산구   237285   222953   14332    39070
4  성동구   292672   285990    6682    46380

In [15]:
#2-4
person_new.columns=['구별','인구수','내국인','외국인','노령자']
person_new.head()

    구별      인구수      내국인     외국인      노령자
0   합계  9736027  9509458  226569  1605416
1  종로구   153789   144683    9106    27818
2   중구   131787   122499    9288    24392
3  용산구   237285   222953   14332    39070
4  성동구   292672   285990    6682    46380

In [16]:
#2-6
person_new.drop([0], inplace=True)
person_new.head()

    구별     인구수     내국인    외국인    노령자
1  종로구  153789  144683   9106  27818
2   중구  131787  122499   9288  24392
3  용산구  237285  222953  14332  39070
4  성동구  292672  285990   6682  46380
5  광진구  352627  339996  12631  51723

In [20]:
#2-7, 2-8
person_new['외국인비율']=person_new['외국인'].astype(float)/person_new['인구수'].astype(float)*100
person_new['노령자비율']=person_new['노령자'].astype(float)/person_new['인구수'].astype(float)*100
person_new['구별']=person_new['구별'].replace(' ','')
person_new.head()

    구별     인구수     내국인    외국인    노령자     외국인비율      노령자비율
1  종로구  153789  144683   9106  27818  5.921100  18.088420
2   중구  131787  122499   9288  24392  7.047736  18.508654
3  용산구  237285  222953  14332  39070  6.039994  16.465432
4  성동구  292672  285990   6682  46380  2.283102  15.847092
5  광진구  352627  339996  12631  51723  3.581972  14.667907

In [18]:
# 3-1,3-2
answer = pd.merge(cctv_new,person_new,how='inner')
answer.set_index('구별',inplace=True)
answer

     cctv댓수       최근증가율     인구수     내국인    외국인    노령자     외국인비율      노령자비율
구별
종로구    1715   20.689655  153789  144683   9106  27818  5.921100  18.088420
중구     2447   78.984238  131787  122499   9288  24392  7.047736  18.508654
용산구    2611   78.635682  237285  222953  14332  39070  6.039994  16.465432
성동구    3829   63.485477  292672  285990   6682  46380  2.283102  15.847092
광진구    3211  112.292359  352627  339996  12631  51723  3.581972  14.667907
동대문구   2628   36.332767  352006  337400  14606  62211  4.149361  17.673278
중랑구    3737  190.547703  391885  387350   4535  71682  1.157227  18.291591
성북구    4602   77.580372  440142  430528   9614  74709  2.184295  16.973840
강북구    3090  429.292929  302563  299182   3381  64333  1.117453  21.262679
도봉구    1930   85.436893  319373  317366   2007  64160  0.628419  20.089363
노원구    2492   68.471810  514946  510956   3990  88345  0.774839  17.156168
은평구    4131  117.857143  477173  473307   3866  87241  0.810188  18.282887
서대문구   3055   49.796126  315659  304819  10840  54268  3.434086  17.191970
마포구    2496   95.417349  378686  368905   9781  54582  2.582879  14.413525
양천구    3650   83.800448  450487  447302   3185  68627  0.707013  15.233958
강서구    2744   79.114391  579768  574315   5453  92558  0.940549  15.964662
구로구    4608   48.831264  421163  396754  24409  72611  5.795618  17.240593
금천구    2411  150.317797  244891  230811  14080  41041  5.749497  16.758885
영등포구   4056  105.389222  400908  376837  24071  62516  6.004121  15.593603
동작구    2306   83.614458  394364  385483   8881  66613  2.251980  16.891248
관악구    5149   48.294597  499449  485699  13750  79871  2.753034  15.991823
서초구    4082   50.877193  416167  412279   3888  60678  0.934240  14.580205
강남구    6871   63.241716  537800  533042   4758  78226  0.884716  14.545556
송파구    2897  204.309392  663965  658338   5627  97691  0.847484  14.713276
강동구    2809  112.250000  466472  462664   3808  74070  0.816341  15.878767

In [21]:
#3-3 #3-4
answer.to_csv('cctv_pop.csv')
an = pd.read_csv('cctv_pop.csv')
an

,구별,cctv댓수,최근증가율,인구수,내국인,외국인,노령자,외국인비율,노령자비율
0,종로구,1715,20.689655,153789,144683,9106,27818,5.921100,18.088420
1,중구,2447,78.984238,131787,122499,9288,24392,7.047736,18.508654
2,용산구,2611,78.635682,237285,222953,14332,39070,6.039994,16.465432
3,성동구,3829,63.485477,292672,285990,6682,46380,2.283102,15.847092
4,광진구,3211,112.292359,352627,339996,12631,51723,3.581972,14.667907
5,동대문구,2628,36.332767,352006,337400,14606,62211,4.149361,17.673278
6,중랑구,3737,190.547703,391885,387350,4535,71682,1.157227,18.291591
7,성북구,4602,77.580372,440142,430528,9614,74709,2.184295,16.973840
8,강북구,3090,429.292929,302563,299182,3381,64333,1.117453,21.262679
9,도봉구,1930,85.436893,319373,317366,2007,64160,0.628419,20.089363
10,노원구,2492,68.471810,514946,510956,3990,88345,0.774839,17.156168
11,은평구,4131,117.857143,477173,473307,3866,87241,0.810188,18.282887
12,서대문구,3055,49.796126,315659,304819,10840,54268,3.434086,17.191970
13,마포구,2496,95.417349,378686,368905,9781,54582,2.582879,14.413525
14,양천구,3650,83.800448,450487,447302,3185,68627,0.707013,15.233958
15,강서구,2744,79.114391,579768,574315,5453,92558,0.940549,15.964662
16,구로구,4608,48.831264,421163,396754,24409,72611,5.795618,17.240593
17,금천구,2411,150.317797,244891,230811,14080,41041,5.749497,16.758885
18,영등포구,4056,105.389222,400908,376837,24071,62516,6.004121,15.593603
19,동작구,2306,83.614458,394364,385483,8881,66613,2.251980,16.891248
20,관악구,5149,48.294597,499449,485699,13750,79871,2.753034,15.991823
21,서초구,4082,50.877193,416167,412279,3888,60678,0.934240,14.580205
22,강남구,6871,63.241716,537800,533042,4758,78226,0.884716,14.545556
23,송파구,2897,204.309392,663965,658338,5627,97691,0.847484,14.713276
24,강동구,2809,112.250000,466472,462664,3808,74070,0.816341,15.878767