### 인구소멸 위기지역 - 전처리(Part1)
- 국가통계포털 : https://kosis.kr/index/index.do
- 공공데이터포털 : https://www.data.go.kr/

In [46]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [47]:
df = pd.read_csv('data/시군구_성_연령_5세_별_인구2_2020.csv', encoding='euc-kr')
print(df.shape)
df.head(260).tail(5)

(837, 28)

,광역시도,시군구,행정구,구분,인구수,0 - 4세,5 - 9세,10 - 14세,15 - 19세,20 - 24세,...,65 - 69세,70 - 74세,75 - 79세,80세 이상,80 - 84세,85세 이상,85 - 89세,90 - 94세,95 - 99세,100세 이상
255,경기도,수원시,소계,계,1181470,43910,56741,57093,63808,86365,...,43315,31267,23774,27796,16028,11768,8044,2957,671,96
256,경기도,수원시,소계,남자,594380,22626,29290,29411,33178,44785,...,20789,14491,10013,9142,5900,3242,2414,678,137,14
257,경기도,수원시,소계,여자,587090,21284,27451,27682,30630,41581,...,22527,16776,13761,18654,10129,8526,5630,2280,535,82
258,경기도,수원시,장안구,계,273908,7659,11548,13483,16100,22511,...,11311,8549,6870,8443,4806,3637,2459,944,207,28
259,경기도,수원시,장안구,남자,137852,3904,6034,6954,8498,12166,...,5418,3905,2892,2846,1819,1027,755,225,46,2

In [48]:
# 광역시도 시군구 20-39 65이상 소멸비율 소멸위기지역
# 시군구에 행정구(값)가 있으면 시군구 값을 행정구 값으로 변경
df.시군구[df.행정구.notnull()] = df.행정구[df.행정구.notnull()]
df.head(260).tail(5)

,광역시도,시군구,행정구,구분,인구수,0 - 4세,5 - 9세,10 - 14세,15 - 19세,20 - 24세,...,65 - 69세,70 - 74세,75 - 79세,80세 이상,80 - 84세,85세 이상,85 - 89세,90 - 94세,95 - 99세,100세 이상
255,경기도,소계,소계,계,1181470,43910,56741,57093,63808,86365,...,43315,31267,23774,27796,16028,11768,8044,2957,671,96
256,경기도,소계,소계,남자,594380,22626,29290,29411,33178,44785,...,20789,14491,10013,9142,5900,3242,2414,678,137,14
257,경기도,소계,소계,여자,587090,21284,27451,27682,30630,41581,...,22527,16776,13761,18654,10129,8526,5630,2280,535,82
258,경기도,장안구,장안구,계,273908,7659,11548,13483,16100,22511,...,11311,8549,6870,8443,4806,3637,2459,944,207,28
259,경기도,장안구,장안구,남자,137852,3904,6034,6954,8498,12166,...,5418,3905,2892,2846,1819,1027,755,225,46,2

In [49]:
# 소계 데이터 지우기 (Filtering)
df= df[df.시군구 != '소계']
print(df.shape)
df.head(260).tail(5)

(750, 28)

,광역시도,시군구,행정구,구분,인구수,0 - 4세,5 - 9세,10 - 14세,15 - 19세,20 - 24세,...,65 - 69세,70 - 74세,75 - 79세,80세 이상,80 - 84세,85세 이상,85 - 89세,90 - 94세,95 - 99세,100세 이상
294,경기도,부천시,NaN,계,816254,26404,33169,33590,38772,54876,...,39491,26280,18743,21947,12557,9391,6479,2333,508,72
295,경기도,부천시,NaN,남자,404970,13594,16957,17246,19957,28197,...,19531,12676,7989,6900,4423,2477,1837,534,94,13
296,경기도,부천시,NaN,여자,411284,12811,16212,16344,18815,26679,...,19960,13604,10755,15048,8134,6914,4643,1799,414,59
297,경기도,광명시,NaN,계,304481,10356,14138,15092,16674,19265,...,14601,10166,7545,8367,4856,3511,2479,824,180,29
298,경기도,광명시,NaN,남자,150321,5286,7266,7672,8677,10023,...,7022,4739,3176,2620,1730,890,668,183,34,6

In [50]:
# 20-39세, 65세 이상 컬럼 만들기
df['20-39세']=df['20 - 24세']+df['35 - 39세']+df['25 - 29세']+df['30 - 34세']
df['65세이상']=df['65 - 69세']+df['70 - 74세']+df['75 - 79세']+df['80세 이상']

In [51]:
df = df[['광역시도', '시군구', '구분', '인구수', '20-39세', '65세이상']]
df.head()

     광역시도   시군구  구분     인구수  20-39세  65세이상
6   서울특별시   종로구   계  144866   43061  25597
7   서울특별시   종로구  남자   70613   21327  11361
8   서울특별시   종로구  여자   74253   21736  14236
9   서울특별시    중구   계  121520   38455  21878
10  서울특별시    중구  남자   59536   18864   9600

In [52]:
# pivot talbe로
pop = pd.pivot_table(df, index=['광역시도', '시군구'], columns=['구분'],values=['인구수', '20-39세', '65세이상'])
pop.head()

          20-39세                65세이상                   인구수
구분             계     남자     여자      계     남자     여자       계      남자      여자
광역시도 시군구
강원도   강릉시  47006  25199  21807  43830  18604  25227  211643  105025  106618
      고성군   5217   3175   2042   7755   3237   4519   26792   13864   12928
      동해시  18727  10469   8258  17572   7624   9949   89814   45572   44242
      삼척시  13583   7469   6117  16077   6766   9311   65623   33275   32348
      속초시  18080   9909   8171  15170   6345   8826   81497   40312   41185

In [53]:
# 인구 소멸 비율 계산
pop['소멸비율'] = round(pop['20-39세', '여자']/pop['65세이상', '계'], 4)
pop.head()

          20-39세                65세이상                   인구수                  \
구분             계     남자     여자      계     남자     여자       계      남자      여자
광역시도 시군구
강원도   강릉시  47006  25199  21807  43830  18604  25227  211643  105025  106618
      고성군   5217   3175   2042   7755   3237   4519   26792   13864   12928
      동해시  18727  10469   8258  17572   7624   9949   89814   45572   44242
      삼척시  13583   7469   6117  16077   6766   9311   65623   33275   32348
      속초시  18080   9909   8171  15170   6345   8826   81497   40312   41185

             소멸비율
구분
광역시도 시군구
강원도   강릉시  0.4975
      고성군  0.2633
      동해시  0.4700
      삼척시  0.3805
      속초시  0.5386

In [54]:
# 인구 소멸위기지역, 소멸위기 고위험지역
pop['소멸위기지역']=pop.소멸비율 < 0.5
pop['소멸위기고위험지역']=pop.소멸비율 < 0.2
pop.head()

          20-39세                65세이상                   인구수                  \
구분             계     남자     여자      계     남자     여자       계      남자      여자
광역시도 시군구
강원도   강릉시  47006  25199  21807  43830  18604  25227  211643  105025  106618
      고성군   5217   3175   2042   7755   3237   4519   26792   13864   12928
      동해시  18727  10469   8258  17572   7624   9949   89814   45572   44242
      삼척시  13583   7469   6117  16077   6766   9311   65623   33275   32348
      속초시  18080   9909   8171  15170   6345   8826   81497   40312   41185

             소멸비율 소멸위기지역 소멸위기고위험지역
구분
광역시도 시군구
강원도   강릉시  0.4975   True     False
      고성군  0.2633   True     False
      동해시  0.4700   True     False
      삼척시  0.3805   True     False
      속초시  0.5386  False     False

In [55]:
# 인구 소멸위기 지역
crisis_region = pop[pop.소멸위기지역].index.get_level_values(1)
print(crisis_region, len(crisis_region))

Index([' 강릉시', ' 고성군', ' 동해시', ' 삼척시', ' 양구군', ' 양양군', ' 영월군', ' 인제군', ' 정선군',
       ' 철원군',
       ...
       ' 청양군', ' 태안군', ' 홍성군', ' 괴산군', ' 단양군', ' 보은군', ' 영동군', ' 옥천군', ' 음성군',
       ' 제천시'],
      dtype='object', name='시군구', length=102) 102

In [56]:
# 인구 소멸 고위험 지역
high_crisis_region = pop[pop.소멸위기고위험지역].index.get_level_values(1)
print(high_crisis_region, len(high_crisis_region))

Index([' 남해군', ' 산청군', ' 의령군', ' 하동군', ' 합천군', ' 군위군', ' 봉화군', ' 영덕군', ' 영양군',
       ' 의성군', ' 청도군', ' 청송군', ' 고흥군', ' 곡성군', ' 보성군', ' 신안군', ' 함평군', ' 임실군',
       ' 부여군', ' 서천군', ' 청양군', ' 보은군'],
      dtype='object', name='시군구') 22

In [57]:
# 컬럼명 변경: 이중인덱스 -> 단일 인덱스
# 65세이상 남, 여, 인구수 남, 여 제외
pop.columns.get_level_values(0)

Index(['20-39세', '20-39세', '20-39세', '65세이상', '65세이상', '65세이상', '인구수', '인구수',
       '인구수', '소멸비율', '소멸위기지역', '소멸위기고위험지역'],
      dtype='object')

In [58]:
pop.columns.get_level_values(1)

Index(['계', '남자', '여자', '계', '남자', '여자', '계', '남자', '여자', '', '', ''], dtype='object', name='구분')

In [59]:
new_columns = []
for i in range(len(pop.columns.get_level_values(0))):
    new_columns.append(pop.columns.get_level_values(0)[i]+pop.columns.get_level_values(1)[i])
pop.columns = new_columns
pop.head()

           20-39세계  20-39세남자  20-39세여자  65세이상계  65세이상남자  65세이상여자    인구수계  \
광역시도 시군구
강원도   강릉시    47006     25199     21807   43830    18604    25227  211643
      고성군     5217      3175      2042    7755     3237     4519   26792
      동해시    18727     10469      8258   17572     7624     9949   89814
      삼척시    13583      7469      6117   16077     6766     9311   65623
      속초시    18080      9909      8171   15170     6345     8826   81497

            인구수남자   인구수여자    소멸비율  소멸위기지역  소멸위기고위험지역
광역시도 시군구
강원도   강릉시  105025  106618  0.4975    True      False
      고성군   13864   12928  0.2633    True      False
      동해시   45572   44242  0.4700    True      False
      삼척시   33275   32348  0.3805    True      False
      속초시   40312   41185  0.5386   False      False

In [60]:
pop=pop.drop(columns=['65세이상남자','65세이상여자','인구수남자','인구수여자'])
pop

           20-39세계  20-39세남자  20-39세여자  65세이상계    인구수계    소멸비율  소멸위기지역  \
광역시도 시군구
강원도   강릉시    47006     25199     21807   43830  211643  0.4975    True
      고성군     5217      3175      2042    7755   26792  0.2633    True
      동해시    18727     10469      8258   17572   89814  0.4700    True
      삼척시    13583      7469      6117   16077   65623  0.3805    True
      속초시    18080      9909      8171   15170   81497  0.5386   False
...            ...       ...       ...     ...     ...     ...     ...
충청북도  증평군     9381      5305      4077    6236   36893  0.6538   False
      진천군    20447     11435      9013   13290   81958  0.6782   False
      청원구    58449     31789     26661   23978  194256  1.1119   False
      충주시    47962     26670     21293   40566  209084  0.5249   False
      흥덕구    81443     43471     37975   28478  262632  1.3335   False

           소멸위기고위험지역
광역시도 시군구
강원도   강릉시      False
      고성군      False
      동해시      False
      삼척시      False
      속초시      False
...              ...
충청북도  증평군      False
      진천군      False
      청원구      False
      충주시      False
      흥덕구      False

[250 rows x 8 columns]

In [61]:
#인덱스 제거
pop.reset_index(inplace=True)
pop.head(3)

,광역시도,시군구,20-39세계,20-39세남자,20-39세여자,65세이상계,인구수계,소멸비율,소멸위기지역,소멸위기고위험지역
0,강원도,강릉시,47006,25199,21807,43830,211643,0.4975,True,False
1,강원도,고성군,5217,3175,2042,7755,26792,0.2633,True,False
2,강원도,동해시,18727,10469,8258,17572,89814,0.4700,True,False

In [62]:
# 시군구 공백 제거
pop.시군구 = pop.시군구.str.strip()
pop.head()

,광역시도,시군구,20-39세계,20-39세남자,20-39세여자,65세이상계,인구수계,소멸비율,소멸위기지역,소멸위기고위험지역
0,강원도,강릉시,47006,25199,21807,43830,211643,0.4975,True,False
1,강원도,고성군,5217,3175,2042,7755,26792,0.2633,True,False
2,강원도,동해시,18727,10469,8258,17572,89814,0.4700,True,False
3,강원도,삼척시,13583,7469,6117,16077,65623,0.3805,True,False
4,강원도,속초시,18080,9909,8171,15170,81497,0.5386,False,False

In [63]:
# 파일 저장
pop.to_csv('data/시군구_전처리완료.csv', index=False, encoding='euc-kr')